:root{
    --displayDirection:row;
    --default:#313131;
    --defFont:arial;
}
body {
    font-family: var(--defFont);
    /*background: var(--default);*/
}
a{
    text-decoration:none;
    color:black;
}
.header {
    border-color: black;
    border:0.8px solid;
    border-radius: 30px;
}
#layout{
    display:flex;
    flex-direction:var(--displayDirection);
    align-items:center;
    list-style-type:none;
}
#layout a{
    display:block;
    margin-right:5vw;
    font-size:2.8vw;
}
#layout svg{
    margin-right:3.5vw;
}
#idiom,#search,.layout{
    display:none;
}