:root{

}

body {
    font-family: var(--defFont);
    /*background: var(--default);*/
}

.dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;

    & a{
        display:block;
        margin-right:2.8vw;
        text-decoration:none;
        font-size:1.8vw;
    }
    & svg{
        margin-right:3vw;
    }
}
.dropdown{
    position:sticky;
    position:relative;
}
.listSubitem-product, .listSubitem-solutions, .listSubitem-support, .listItem-search, .listItem-lang {
    display: none;
}
.dropdown:hover {
    display:block;
}